.intro{
    text-align: center; 
    font-family:  Pacifico,'Courier New', Courier,monospace;
    background-color:#5F7161;
    color: #EFEAD8;
    /* 6D8B74 */
    /* EFEAD8 */
    /* D0C9C0 */
    width: 100%;
    margin: 0;
    height: 500px;
    padding-top: 100px;
    position: relative;
}
.cloud1{
    position: relative;
    right: -11%;
}
.cloud2{
   position: relative;
    right: -3%;
    bottom: 35%;
}
.mountain{
    position: relative;
    bottom: -16%;
    right: 3%;
}
.heading{
    position: relative;
    top: 10px;
}
.middle{
    padding: 40px 0px;
    height: 1000px;
    width: 100%;
    background-color: #6D8B74;
    margin: 0px;
    text-align: center; 
    font-family: Kanit;
    color: #D0C9C0;
}
.contact{
    padding: 40px 0px;
    height: 200px;
    width: 100%;
    background-color: #EFEAD8;
    text-align: center; 
    font-family: Kanit;
    color:#6D8B74;
}
.end{
    padding: 40px 0px;
    height: 100px;
    width: 100%;
    background-color: #D0C9C0;
    text-align: center; 
    font-family: Kanit;
    color:#6D8B74;
}
h1{
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
body{
    margin: 0;
}

